@import 'normalize','settings','variables';

body {
    font-family: 'Manrope', sans-serif;
    font-size:1.2rem;
    color:$color-text-main;
    text-align: center;
}

.header {
    background:url(../images/bg-pattern.svg) no-repeat left;
    background-size:cover;

    &__container {
        background:url(../images/pattern-circles.svg) no-repeat center top;
        background-position-y: 58px;
        padding:8.9rem 2.4rem 23rem;
    }

    &__heading {
        font-size:2rem;
        font-weight: 800;
        line-height: 2.7rem;
        color:$color-heading;
        margin-bottom:0.8rem;
    }

    &__subtitle {
        font-size: 1.3rem;
        line-height: 2.3rem;

    }
}

.main {
    background:$background-pricing-component;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;
    margin:auto;
    position:relative;
    top:-170px;
    width:32.7rem;

    &__header {
        padding:3.4rem 2.4rem 3.8rem;
    }

    &__pageviews {
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1.71px;
        line-height: 1.6rem;
    }

    &__pageviews-number {
        margin-right:0.6rem;
    }

    &__slider {
        width:100%;
        height:8px;
        background:$background-slider-empty;
        border-radius: 5px;
        margin:4rem 0;
        position: relative;
    }

    &__slider-current {
        width:50%;
        height:8px;
        border-radius: 5px;
        background:$background-slider-full;
    }

    &__slider-icon-container {
        background:$background-slider;
        width:40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
        display: grid;
        place-items: center;
        position:absolute;
        left:calc(50% - 20px);
        top:-17px;
    }

    &__billing {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        margin-top:3.4rem;
        position: relative;
        right: -14px;;
    }

    &__billing-discount-dt {
        display: none;
    }

    &__billing-recurrence {
        line-height:1.6rem;
    }

    &__billing-toggle {
        width:43px;
        height:22px;
        background:$background-toggle;
        border-radius:15px;
        position: relative;
        margin: 0 1.2rem;
    }

    &__billing-toggle-circle {
        width:14px;
        height:14px;
        background:white;
        border-radius: 50%;
        position:absolute;
        top:4px;
        left:4px;
    }

    &__billing-discount {
        background:$background-discount;
        line-height: 19px;
        border-radius: 9.5px;
        width:41px;
        margin-left:0.55rem;
        color:$color-discount;
        font-size: 1rem;
        font-weight: 800;
    }

    &__pricing {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__pricing-number {
        color:$color-heading;
        font-weight: 800;
        font-size: 3.2rem;
    }

    &__pricing-recurrence {
        margin-left:1rem;
    }

    &__list-and-button {
        padding:2.4rem 0 3.2rem;
        border-top:1px solid #ECF0FB;
    }

    &__list {
        list-style:none;
        width:14.8rem;
        margin: 0 auto 3.2rem;
    }

    &__list-item {
        margin-bottom:1.1rem;
        line-height: 1.6rem;
    }

    &__list-item:last-child {
        margin-bottom: 0;
    }

    &__list-checkmark {
        margin-right:1.6rem;
    }

    &__button {
        border:none;
        background:$background-button;
        border-radius:20.5px;
        color:$color-CTA-other;
        padding:1.2rem 4.6rem;
        line-height: 1.6rem;
        font-weight: 800;
    }
}

@media screen and (min-width:600px) {

    .header {

        &__container {
            padding:10.4rem 0 27.4rem;
        }

        &__heading {
            font-size: 2.8rem;
            margin-bottom: 1.2rem;
        }

        &__subtitle-wrapper {
            display: flex;
            justify-content: center;
        }

        &__subtitle {
            font-size: 1.5rem;
        }

        &__subtitle:first-child{
            margin-right:0.8rem;
        }
    }

    .main {
        width:54rem;
        top:-180px;

        &__header {
            padding:4rem 4.8rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "pageviews pricing"
              "slider slider"
              "billing billing"
        }

        &__billing {
            right:23px;
            grid-column: billing;
            margin-top:0;
        }

        &__billing-toggle {
            margin: 0 1.6rem;
        }

        &__billing-toggle:hover{
            cursor: pointer;
            background:$backgound-button-hover;
        }

        &__billing-discount {
            margin-left:0.9rem;
            width:80px;
        }

        &__billing-discount-dt {
            display:inline;
        }

        &__pageviews {
            font-size: 1.4rem;
            grid-column: pageviews;
            text-align: left;
            display: flex;
            align-items: center;
        }

        &__pricing {
            grid-column: 2;
            grid-row: 1;
        }

        &__slider {
            grid-column: slider;
            margin: 4rem 0 5.6rem;
        }

        &__pricing-number {
            font-size:4rem;
        }

        &__pricing-recurrence {
            font-size:1.6rem;
        }

        &__list-and-button {
            padding:3.2rem 4.8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__list {
            margin:0;
            text-align: left;
        }

        &__button:hover {
            color:white;
            cursor: pointer;
        }
    }
}

//CLASSES FOR JS

.toggle-monthly {
    left:4px;
    transition: left 0.5s; 
}

.toggle-yearly {
    left:25px;
    transition: left 0.5s;
}

.billing-monthly-accent, .billing-yearly-accent {
    color:$color-heading;
}

//JQUERY SLIDER

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider-handle {
    background:url(../images/icon-slider.svg) no-repeat center,#10d5c2;
	position: absolute;
	z-index: 2;
    outline:none;
	cursor: pointer;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: 8px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -15px;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-handle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
}

.ui-slider-handle:hover {
    background:url(../images/icon-slider.svg) no-repeat center,$background-slider-container-hover;
}